!!!
%html{:lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}/
    %title StartupHeroes
    %link{:href => "css/all.css", :media => "all", :rel => "stylesheet"}/
    %script{:src => "js/html5.js", :type => "text/javascript"}
  %body
    .w1
      #wrapper
        %header#header         %strong.logo
          %a{:href => "#"} StartupHeroes
        %ul.social-networks
          %li
            %a.itunes{:href => "#"} itunes
          %li
            %a.twitter{:href => "#"} twitter
          %li
            %a.facebook{:href => "#"} facebook
          %li
            %a.rss{:href => "#"} rss
        %nav.nav-block
        %ul.nav-left
          %li
            %a{:href => "#"} shows
          %li
            %a{:href => "#"} live
          %li
            %a{:href => "#"} advertise
        %ul.nav-right
          %li
            %a{:href => "#"} itunes
          %li
            %a{:href => "#"} subscribe
          %li
            %a{:href => "#"} rss
        %section#main         .intro-block
          %img.sponsor{:alt => "image description", :height => "193", :src => "images/sponsor.gif", :width => "194"}/
          %h1 Welcome to startup heroes
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis feugiat eros, vel dapibus dui fermentum ut. Sed arcu dolor, scelerisque id iaculis massa.
        .video-blocks
          .video
            .video-holder
              %img{:alt => "image description", :height => "200", :src => "images/image1.jpg", :width => "300"}/
              %a{:href => "#"}
                %span.overlay
                %span.new
            %p Lorem ipsum dolor sit amet
            %strong.by Hosted by Josh Owens
          .video
            .video-holder
              %img{:alt => "image description", :height => "200", :src => "images/image2.jpg", :width => "300"}/
              %a{:href => "#"}
                %span.overlay
            %p Lorem ipsum dolor sit amet
            %strong.by Hosted by Josh Owens
          .video
            .video-holder
              %img{:alt => "image description", :height => "200", :src => "images/image3.jpg", :width => "300"}/
              %a{:href => "#"}
                %span.overlay
            %p Lorem ipsum dolor sit amet
            %strong.by Hosted by Josh Owens
          .video
            .video-holder
              %img{:alt => "image description", :height => "200", :src => "images/image4.jpg", :width => "300"}/
              %a{:href => "#"}
                %span.overlay
            %p Lorem ipsum dolor sit amet
            %strong.by Hosted by Josh Owens
          .video
            .video-holder
              %img{:alt => "image description", :height => "200", :src => "images/image5.jpg", :width => "300"}/
              %a{:href => "#"}
                %span.overlay
            %p Lorem ipsum dolor sit amet
            %strong.by Hosted by Josh Owens
          .video
            .video-holder
              %img{:alt => "image description", :height => "200", :src => "images/image6.jpg", :width => "300"}/
              %a{:href => "#"}
                %span.overlay
            %p Lorem ipsum dolor sit amet
            %strong.by Hosted by Josh Owens
        .text-block
          .holder
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis feugiat eros, vel dapibus dui fermentum ut. Sed arcu dolor, scelerisque id iaculis non, tincidunt ut massa.
        %footer#footer         %a{:href => "#"}
          %img{:alt => "image description", :height => "130", :src => "images/banner.jpg", :width => "930"}/
        %strong.copy copyright 2011
