.intro-block
  .sponsor#honeysquares
  %h1 Welcome to Startup Heroes
  %p A video podcast that interviews heroes within the startup community.

.video-blocks
  = render :partial => @episodes
/ video end
